<h1>Listing sound_rolls</h1>

<table>
  <tr>
    <th>Name</th>
    <th>Production</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @sound_rolls.each do |sound_roll| %>
  <tr>
    <td><%= sound_roll.name %></td>
    <td><%= sound_roll.production_id %></td>
    <td><%= link_to 'Show', sound_roll %></td>
    <td><%= link_to 'Edit', edit_sound_roll_path(sound_roll) %></td>
    <td><%= link_to 'Destroy', sound_roll, confirm: 'Are you sure?', method: :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Sound roll', new_sound_roll_path %>
