<%= form_for(@screengrab) do |f| %>
  <% if @screengrab.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@screengrab.errors.count, "error") %> prohibited this screengrab from being saved:</h2>

      <ul>
      <% @screengrab.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :file %><br />
    <%= f.text_field :file %>
  </div>
  <div class="field">
    <%= f.label :take_id %><br />
    <%= f.number_field :take_id %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
