<%= form_for(@camera_roll) do |f| %>
  <% if @camera_roll.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@camera_roll.errors.count, "error") %> prohibited this camera_roll from being saved:</h2>

      <ul>
      <% @camera_roll.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :production_id %><br />
    <%= f.number_field :production_id %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
