<h1>Listing camera_rolls</h1>

<table>
  <tr>
    <th>Name</th>
    <th>Production</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @camera_rolls.each do |camera_roll| %>
  <tr>
    <td><%= camera_roll.name %></td>
    <td><%= camera_roll.production_id %></td>
    <td><%= link_to 'Show', camera_roll %></td>
    <td><%= link_to 'Edit', edit_camera_roll_path(camera_roll) %></td>
    <td><%= link_to 'Destroy', camera_roll, confirm: 'Are you sure?', method: :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Camera roll', new_camera_roll_path %>
