<h1>Listing scenes</h1>

<table>
  <tr>
    <th>Number</th>
    <th>Script</th>
    <th>Storyboard cell</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @scenes.each do |scene| %>
  <tr>
    <td><%= scene.number %></td>
    <td><%= scene.script_id %></td>
    <td><%= scene.storyboard_cell_id %></td>
    <td><%= link_to 'Show', scene %></td>
    <td><%= link_to 'Edit', edit_scene_path(scene) %></td>
    <td><%= link_to 'Destroy', scene, confirm: 'Are you sure?', method: :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Scene', new_scene_path %>
