<%= form_for(@crew_member) do |f| %>
  <% if @crew_member.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@crew_member.errors.count, "error") %> prohibited this crew_member from being saved:</h2>

      <ul>
      <% @crew_member.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :person_id %><br />
    <%= f.number_field :person_id %>
  </div>
  <div class="field">
    <%= f.label :role_id %><br />
    <%= f.number_field :role_id %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
