<h1>Listing crew_members</h1>

<table>
  <tr>
    <th>Person</th>
    <th>Role</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @crew_members.each do |crew_member| %>
  <tr>
    <td><%= crew_member.person_id %></td>
    <td><%= crew_member.role_id %></td>
    <td><%= link_to 'Show', crew_member %></td>
    <td><%= link_to 'Edit', edit_crew_member_path(crew_member) %></td>
    <td><%= link_to 'Destroy', crew_member, confirm: 'Are you sure?', method: :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Crew member', new_crew_member_path %>
