<h1>Listing shooting_days</h1>

<table>
  <tr>
    <th>Shoot</th>
    <th>Shoot date</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @shooting_days.each do |shooting_day| %>
  <tr>
    <td><%= shooting_day.shoot_id %></td>
    <td><%= shooting_day.shoot_date %></td>
    <td><%= link_to 'Show', shooting_day %></td>
    <td><%= link_to 'Edit', edit_shooting_day_path(shooting_day) %></td>
    <td><%= link_to 'Destroy', shooting_day, confirm: 'Are you sure?', method: :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Shooting day', new_shooting_day_path %>
